@page "/admin"
@{
    Layout = null;
}

    <div
      class="fondo-login"
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #1f4388;
      "
    >
      <login-card-component
        style="--accent: #1f4388; --accent-hover: #001f43"
      ></login-card-component>
    </div>

    <side-nav-component style="display: none" id="admin-side-nav-menu">
      <div
        id="id-admin-juegos-sidenav-option0"
        class="admin-juegos-sidenav-option"
      >
        <admin-header-component
          title="Administrador de Juegos"
          hide-buttons
        ></admin-header-component>

        <div
          style="
            margin-top: 20px;
            font-size: 18px;
            color: #333;
            text-align: center;
            font-family: 'Raleway', Arial, sans-serif;
          "
        >
          Bienvenido al módulo Administrador de Juegos.
        </div>
      </div>

      <div
        id="id-admin-juegos-sidenav-option1"
        class="admin-juegos-sidenav-option"
      >
        <admin-header-component
          title="Administrar usuarios"
          hide-buttons
        ></admin-header-component>

        <admin-user-panel></admin-user-panel>

        <simple-table-component
          id="tabla-usuario-component"
        ></simple-table-component>
      </div>

      <div
        id="id-admin-juegos-sidenav-option2"
        class="admin-juegos-sidenav-option"
      ></div>
      <div
        id="id-admin-juegos-sidenav-option3"
        class="admin-juegos-sidenav-option"
      ></div>
      <div
        id="id-admin-juegos-sidenav-option4"
        class="admin-juegos-sidenav-option"
      ></div>
      <div
        id="id-admin-juegos-sidenav-option5"
        class="admin-juegos-sidenav-option"
      ></div>
    </side-nav-component>

    <modal-component id="modal-admin-crud"></modal-component>

<script src="src/util/modalJuegoUtility.js"></script>
<script src="src/juegosEnvironments.js"></script>
<script src="src/services/fetchService.js"></script>

<script src="src/services/crudTestService.js"></script>
<script src="src/services/authService.js"></script>
<script src="src/services/usuarioService.js"></script>
<script src="src/services/juegoPalabrasService.js"></script>
<script src="src/services/juegosService.js"></script>
<script src="src/services/completarTextoService.js"></script>
<script src="src/services/resultadoJuegoService.js"></script>
<script src="src/services/rangoEvaluacionService.js"></script>

<script src="src/components/table-component/TableComponent.js"></script>
<script src="src/components/form-test-component/FormTestComponent.js"></script>
<script src="src/components/admin-header-component/AdminHeaderComponent.js"></script>
<script src="src/components/test-viewer-component/TestViewerComponent.js"></script>
<script src="src/components/side-nav-component/SideNavComponent.js"></script>
<script src="src/components/admin-user-panel-component/AdminUserPanelComponent.js"></script>
<script src="src/components/simple-table-component/SimpleTableComponent.js"></script>
<script src="src/components/actividad-component/ResumenActividadComponent.js"></script>
<script src="src/components/login/login-card-component.js"></script>
<script src="src/components/modal/modal-component.js"></script>
<script src="src/components/admin-palabras-component/AdminPalabrasComponent.js"></script>

<script src="src/controllers/LoginController.js"></script>
<script src="src/controllers/AdminUserController.js"></script>
<script src="src/controllers/AdminJuegosController.js"></script>
<script src="src/controllers/AdminUserPanelController.js"></script>
<script src="src/controllers/AdminSopaLetrasController.js"></script>
<script src="src/controllers/AdminCompletarTextoController.js"></script>
<script src="src/controllers/AdminOrdenarPalabrasController.js"></script>
<script src="src/controllers/AdminRangoEvaluacionController.js"></script>
<script src="src/controllers/AdminSideNavController.js"></script>