
@page "/completar"
@using System
@using System.Collections.Generic

   <div class="contenedor">
      <completar-texto-component
        img-intro="public/images/superdato_1.png"
        webm-final="public/video/superdato_escribe.webm"
        img-rondas="public/images/superdato_manos_cintura.png"
        id-completar="25"
      ></completar-texto-component>
    </div>

    <script src="src/juegosEnvironments.js"></script>
    <script src="src/services/resultadoJuegoService.js"></script>
    <script src="src/services/completarTextoService.js"></script>
    <script src="src/components/completar/completar-texto-component.js"></script>