@page "/test"
@using System
@using System.Collections.Generic


<div style="width: 80%; margin: 0 auto;">
  <test-component
    style-url="src/components/test/test.css"
    correcta_svg="public/images/correcta.svg"
    incorrecta_svg="public/images/incorrecta.svg"
    character_png="public/images/superdato_2.png"
    id-test="17"
  ></test-component>
</div>




    <script src="src/components/test/test.js"></script>
    <script src="src/services/testService.js"></script>
    <script src="src/juegosEnvironments.js"></script>
    <script src="src/components/test/test-component.js"></script>
    <!-- index.html o _Host.cshtml -->
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">


