

USE [prodhab]
GO
/****** Object:  Table [dbo].[CodigoVerificacion]    Script Date: 21/11/2025 00:54:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CodigoVerificacion](
	[idCodigoVerificacion] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[codigo] [varchar](6) NOT NULL,
	[expiracion] [datetime] NOT NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCodigoVerificacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Juego]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Juego](
	[idJuego] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[detalle] [nvarchar](255) NULL,
	[activo] [bit] NULL,
	[idTipoJuego] [int] NULL,
 CONSTRAINT [PK_Juegos] PRIMARY KEY CLUSTERED 
(
	[idJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PalabraJuego]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PalabraJuego](
	[IdPalabraJuego] [int] IDENTITY(1,1) NOT NULL,
	[IdJuego] [int] NOT NULL,
	[palabra] [nvarchar](255) NOT NULL,
	[activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPalabraJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pregunta]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pregunta](
	[idPregunta] [bigint] IDENTITY(1,1) NOT NULL,
	[enunciado] [nvarchar](max) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
	[activa] [bit] NOT NULL,
 CONSTRAINT [PK_Preguntas] PRIMARY KEY CLUSTERED 
(
	[idPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PreguntaJuego]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PreguntaJuego](
	[idPreguntaJuego] [int] IDENTITY(1,1) NOT NULL,
	[idPregunta] [bigint] NOT NULL,
	[idJuego] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idPreguntaJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_PreguntaJuego_IdPregunta] UNIQUE NONCLUSTERED 
(
	[idPregunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RangoEvaluacion]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RangoEvaluacion](
	[idRangoEvaluacion] [int] IDENTITY(1,1) NOT NULL,
	[idJuego] [int] NOT NULL,
	[rangoMinimo] [int] NOT NULL,
	[rangoMaximo] [int] NOT NULL,
	[mensaje] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRangoEvaluacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Respuesta]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Respuesta](
	[idRespuesta] [bigint] IDENTITY(1,1) NOT NULL,
	[idPregunta] [bigint] NOT NULL,
	[texto] [nvarchar](max) NOT NULL,
	[esCorrecta] [bit] NOT NULL,
	[retroalimentacion] [nvarchar](max) NULL,
 CONSTRAINT [PK_Respuestas] PRIMARY KEY CLUSTERED 
(
	[idRespuesta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResultadoJuego]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultadoJuego](
	[idResultadoJuego] [int] IDENTITY(1,1) NOT NULL,
	[idJuego] [int] NOT NULL,
	[cantidadItems] [int] NOT NULL,
	[cantidadAciertos] [int] NOT NULL,
	[nota] [decimal](5, 2) NOT NULL,
	[fechaRegistro] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idResultadoJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[idRol] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoJuego]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoJuego](
	[idTipoJuego] [int] NOT NULL,
	[nombre] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__TipoJueg__662C9DCAA0D6A9A0] PRIMARY KEY CLUSTERED 
(
	[idTipoJuego] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 21/11/2025 00:54:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[correo] [nvarchar](100) NOT NULL,
	[clave] [varbinary](256) NOT NULL,
	[salt] [nvarchar](50) NOT NULL,
	[idRol] [int] NOT NULL,
	[fechaCreacion] [datetime2](7) NULL,
	[activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Juego] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[PalabraJuego] ADD  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[Pregunta] ADD  CONSTRAINT [DF_preguntas_activa]  DEFAULT ((1)) FOR [activa]
GO
ALTER TABLE [dbo].[Respuesta] ADD  CONSTRAINT [DF_respuestas_es_correcta]  DEFAULT ((0)) FOR [esCorrecta]
GO
ALTER TABLE [dbo].[ResultadoJuego] ADD  DEFAULT (getdate()) FOR [fechaRegistro]
GO
ALTER TABLE [dbo].[TipoJuego] ADD  DEFAULT ('') FOR [nombre]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT (getdate()) FOR [fechaCreacion]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [activo]
GO
ALTER TABLE [dbo].[CodigoVerificacion]  WITH CHECK ADD  CONSTRAINT [FK_CodigoVerificacion_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CodigoVerificacion] CHECK CONSTRAINT [FK_CodigoVerificacion_Usuario]
GO
ALTER TABLE [dbo].[PalabraJuego]  WITH CHECK ADD  CONSTRAINT [FK_PalabraJuego_Juego] FOREIGN KEY([IdJuego])
REFERENCES [dbo].[Juego] ([idJuego])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PalabraJuego] CHECK CONSTRAINT [FK_PalabraJuego_Juego]
GO
ALTER TABLE [dbo].[PreguntaJuego]  WITH CHECK ADD  CONSTRAINT [FK_PreguntaJuego_Juego] FOREIGN KEY([idJuego])
REFERENCES [dbo].[Juego] ([idJuego])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreguntaJuego] CHECK CONSTRAINT [FK_PreguntaJuego_Juego]
GO
ALTER TABLE [dbo].[PreguntaJuego]  WITH CHECK ADD  CONSTRAINT [FK_PreguntaJuego_Pregunta] FOREIGN KEY([idPregunta])
REFERENCES [dbo].[Pregunta] ([idPregunta])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PreguntaJuego] CHECK CONSTRAINT [FK_PreguntaJuego_Pregunta]
GO
ALTER TABLE [dbo].[RangoEvaluacion]  WITH CHECK ADD  CONSTRAINT [FK_RangoEvaluacion_Juegos] FOREIGN KEY([idJuego])
REFERENCES [dbo].[Juego] ([idJuego])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RangoEvaluacion] CHECK CONSTRAINT [FK_RangoEvaluacion_Juegos]
GO
ALTER TABLE [dbo].[Respuesta]  WITH CHECK ADD  CONSTRAINT [FK_respuestas_preguntas] FOREIGN KEY([idPregunta])
REFERENCES [dbo].[Pregunta] ([idPregunta])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Respuesta] CHECK CONSTRAINT [FK_respuestas_preguntas]
GO
ALTER TABLE [dbo].[ResultadoJuego]  WITH CHECK ADD  CONSTRAINT [FK_ResultadosJuego_Juegos] FOREIGN KEY([idJuego])
REFERENCES [dbo].[Juego] ([idJuego])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ResultadoJuego] CHECK CONSTRAINT [FK_ResultadosJuego_Juegos]
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Roles] FOREIGN KEY([idRol])
REFERENCES [dbo].[Rol] ([idRol])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuarios_Roles]
GO
ALTER TABLE [dbo].[Pregunta]  WITH CHECK ADD  CONSTRAINT [CK_preguntas_tipo] CHECK  (([tipo]='unica' OR [tipo]='multiple'))
GO
ALTER TABLE [dbo].[Pregunta] CHECK CONSTRAINT [CK_preguntas_tipo]
GO
