@page "/admin"
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf8" />
  <title>Panel Admin</title>
</head>
<body>
  <h1>Panel Admin</h1>
  <pre id="adminOut"></pre>

  <script type="module" src="~/js/admin.js"></script>
</body>
</html>
