@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<button onclick="location.href='/ordenar-letras'" class="btn-primary">Ordenar letras</button>

<button onclick="location.href='/test-nuevo'" class="btn-primary">Test nuevo</button>

<button onclick="location.href='/login-nuevo'" class="btn-primary">Login nuevo</button>

<style>
.btn-primary {
  background-color: #2563eb;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.2s ease;
}

.btn-primary:hover {
  background-color: #1d4ed8;
}
</style>
