@page "/test"
@using System
@using System.Collections.Generic


<div class="quiz-container">
    <div class="wrap">
        <main class="card" role="region" aria-label="Evaluación de conocimientos">
            <div class="content">
                <div aria-hidden="true" class="progress">
                    <div class="bar" style="width: 0%"></div>
                </div>

                <div id="div-stack" class="stack" aria-label="Listado de preguntas"></div>

                <div class="footer-global">
                    <div class="left">
                        <div class="summary"></div>
                    </div>

                    <div class="right">
                        <div class="summary"></div>
                        <button id="btn-reiniciar" class="primary">Reiniciar test</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

@* Importa tus estilos y scripts *@
<link href="css/test.css" rel="stylesheet" />
<script src="js/test.js"></script>
<script src="js/test-service.js"></script>
