.autoModal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(2px);
}
.autoModal {
  position: fixed;
  inset: 0;
  background: #ffffff;
  padding: 30px 20px 20px 20px;
  margin: 5px;
  overflow-y: auto;
  border-radius: 15px;
}

.autoModal-close::before {
  content: "✖ Cerrar";
}
.autoModal-close {
  position: absolute;
  top: 1%;
  right: 1%;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 1rem;
  background: rgb(240, 240, 255, 0.8);
  color: #000;
  transition: background 0.2s, transform 0.2s;
  border: 2px solid #ccc; /* opcional, si quieres un borde definido */
}

.autoModal-close:hover {
  background: rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

.autoModal-content,
.autoModal-content * {
  max-width: 100% !important;
  width: auto !important;
  min-width: 0 !important;
  box-sizing: border-box !important;
  word-wrap: break-word !important;
  word-break: break-word !important;
  margin-top: 5px;
}

.autoModal-content img,
.autoModal-content svg,
.autoModal-content video,
.autoModal-content iframe {
  width: 100% !important;
  height: auto !important;
  display: block;
}

.table-wrap {
  overflow-x: auto;
}
@media (max-width: 600px) {
  #autoModal {
    top: 0.5vh;
    bottom: 3vh;
    left: 1vw;
    right: 1vw;
    padding: 15px;
  }

  .autoModal-close {
    border: none;
    background-color: white;
    margin-right: 2px;
    font-size: 0.8rem;
    padding: 0.2rem 0.6rem;
  }

  .autoModal-close::before {
    content: "✖";
  }
}
