* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.login-container {
  height: 100vh;
  width: 100vw;
/*  background-image: url('../../assets/Login.png'); /* tu imagen real de fondo */
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background: rgba(255, 255, 255, 0.94);
  padding: 2rem;
  border-radius: 0px; /* sin esquinas redondeadas */
  box-shadow: none;   /* sin sombras */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  text-align: center;
  border: 1px solid #ccc; /* borde sutil si deseas uno */
}

.login-logo {
  width: 70px;
  height: auto;
  margin-bottom: 0.5rem;
}

h2 {
  margin-bottom: 1.5rem;
  color: #1e3a8a;
  font-weight: bold;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 0.6rem;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}