<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transición entre Componentes</title>
    <style></style>
  </head>
  <body>
    <juego-ordena-letras-component
      video-final-src="blanco.webm"
      inicio-video-src="super.webm"
    >
    </juego-ordena-letras-component>

    <script src="../../services/ordenaLetrasService.js"></script>

    <script src="juego-ordena-letras-component.js"></script>
    <script src="intro-adivina-component.js"></script>
    <script src="ordena-letras-component.js"></script>


    
  </body>
</html>
